#input-text {
  width: 50%;
  height: 50px;
}
#show-food a {
  text-decoration: none;
  color: black;
}
.search-area .single-food {
  align-items: center;
  margin-bottom: 20px;
}
#single-food {
  display: none;
}
.text-bg {
  background-color: #f8f7f5;
}
.item {
  border: 0px none;
}
.cd-body {
  border: 0px none;
}
.search-btn {
  background-color: #f06c4e;
  color: white;
  border: 0px none;
}
.items:hover {
  cursor: pointer;
  color: #f06c4e;
}
